@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/* Primary */
/* Gradients */
/* Neutral */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.attribution {
  color: red;
}
.attribution a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  footer {
    position: relative;
  }
}
.Result__ {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 368px;
  width: 100%;
  padding: 2.5rem 2.5rem 3rem;
}
.Result__ .Result__title {
  font-weight: 500;
}
.Result__ .Result__button {
  height: 56px;
  display: flex;
  justify-content: center;
  padding-top: 4px;
  align-items: center;
  font-size: 1.1rem;
  background: hsl(224, 30%, 27%);
  color: hsl(221, 100%, 96%);
  border-radius: 28px;
  border: none;
  transition: 0.5s;
}
.Result__ .Result__button:hover {
  background: linear-gradient(180deg, hsl(252, 94%, 63%) 0%, rgb(46, 43, 233) 100%) hsl(224, 30%, 27%);
}

@media only screen and (max-width: 768px) {
  .Result__ {
    max-width: none;
    width: 100%;
  }
}
.ResultBox__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  padding-bottom: 11px;
}
.ResultBox__ .desc {
  display: flex;
  color: hsla(224, 30%, 27%, 0.5);
  font-size: 1.2rem;
  font-weight: 600;
}
.ResultBox__ .desc .text .score {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
  padding-right: 12px;
}
.ResultBox__ .desc .score-max {
  margin-left: -1.8px;
  margin-right: 1.7px;
}
.ResultBox__ .ResultBox__container {
  display: flex;
  padding: 0.8rem 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}
.ResultBox__ .ResultBox__container.blue {
  background-color: hsla(234, 85%, 45%, 0.06);
}
.ResultBox__ .ResultBox__container.blue .span__blue {
  color: hsl(234, 85%, 45%);
}
.ResultBox__ .ResultBox__container.green {
  background-color: hsla(166, 100%, 37%, 0.06);
}
.ResultBox__ .ResultBox__container.green .span__green {
  color: hsl(166, 100%, 37%);
}
.ResultBox__ .ResultBox__container.yellow {
  background-color: hsla(39, 100%, 56%, 0.06);
}
.ResultBox__ .ResultBox__container.yellow .span__yellow {
  color: hsl(39, 100%, 56%);
}
.ResultBox__ .ResultBox__container.red {
  background-color: hsla(0, 100%, 67%, 0.06);
}
.ResultBox__ .ResultBox__container.red .span__red {
  color: hsl(0, 100%, 67%);
}
.ResultBox__ .ResultBox__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.1rem;
  gap: 10px;
}

.Card__ {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 368px;
  width: 100%;
  background: linear-gradient(180deg, hsl(252, 94%, 63%) 0%, rgb(46, 43, 233) 100%);
  border-radius: 32px;
  color: hsl(0, 0%, 100%);
  padding: 2.5rem;
}
.Card__ .Card__header {
  color: hsl(241, 100%, 89%);
}+
.Card__ .Card__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, hsl(246, 86%, 57%) 0%, hsl(255, 71%, 46%) 100%);
  border-radius: 100px;
}
.Card__ .Card__circle .Score {
  margin-top: 5px;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5rem;
  color: hsl(0, 0%, 100%);
}
.Card__ .Card__circle .Score-desc {
  color: hsl(241, 100%, 89%);
  font-weight: 300;
  font-size: 1.1rem;
}
.Card__ .Card__desc {
  text-align: center;
  padding: 1rem;
  margin-top: 0.8rem;
}
.Card__ .Card__desc h3 {
  font-weight: 700;
  font-size: 2rem;
}
.Card__ .Card__desc p {
  margin-top: 0.8rem;
  font-size: 1.1rem;
  color: hsl(241, 100%, 89%);
}

@media only screen and (max-width: 768px) {
  .Card__ {
    max-width: none;
    width: 100%;
    border-radius: 0px 0px 32px 32px;
  }
}
/* Primary */
/* Gradients */
/* Neutral */
main {
  display: flex;
  justify-content: space-between;
  max-width: 736px;
  width: 100%;
  height: 512px;
  background: hsl(0, 0%, 100%);
  border-radius: 32px;
  box-shadow: 5px 5px 41px 10px hsla(234, 85%, 45%, 0.08);
  animation: top 0.5s ease-out;
}

@media only screen and (max-width: 768px) {
  main {
    max-width: none;
    flex-direction: column;
    width: 100%;
    animation: ressurg 1s ease-in;
  }
}
@keyframes top {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.8);
  }
}
@keyframes ressurg {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Hanken Grotesk;
}

body,
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 768px) {
  body,
  #root {
    flex-direction: column;
    justify-content: initial;
    width: 100%;
    justify-content: space-between;
    height: 1000px;
  }
}/*# sourceMappingURL=styles.css.map */